@charset "utf-8";
/* CSS Document */
div
{
	margin-left: 200px;
	margin-top: 150px;
}

p
{
	font-size: 50px;
}
p.txt
{
	margin-top: 10px;
	text-align: left;
	color:#162A69;
	margin-left: 160px;
}

p.txt1
{
	margin-top: 120px;
	font-size: 40px;
}

p.txt2
{
	margin-top: 20px;

	font-size: 40px;
}