h2.title
{
	text-align: center;

}

div.container
{
	padding-left: 370px;
}

img.card-img-top
{
	margin-left: 100px;
	width:50%;
}

h4.txt
{
	text-align: center;
}

p.text1
{
	text-align: center;
}



